body {
  font-family: 'Jaldi', sans-serif;
  margin: 0;
}

#left-column{
  background-color: grey;
  width: 25%
}

#right-column{
  background-color: white;
  width: 75%
}

.row {
	display: flex;
	flex-direction: row;
}
